 .u-section-1 {
  background-image: none;
  min-height: 1009px;
}

.u-section-1 .u-image-1 {
  min-height: 653px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/hilos.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-container-layout-1 {
  padding: 210px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -210px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 92px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 424px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 93px;
  width: 93px;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 421px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 93px;
  width: 93px;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 95px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 95px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 441px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 93px;
  width: 93px;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  margin: 20px 1px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 436px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 93px;
  width: 93px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 99px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 918px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-1 .u-layout-cell-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 350px;
  }

  .u-section-1 .u-layout-cell-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 347px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-6 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 364px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 360px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 82px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1542px;
  }

  .u-section-1 .u-image-1 {
    background-position: 9.07% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 180px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -297px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1939px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 160px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1967px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 155px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 113px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 1px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 119px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 695px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 555px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  padding-left: 3px;
  line-height: 2;
  margin: 40px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: 30px auto 0 0;
  padding: 18px 36px 19px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 555px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 432px;
  height: 495px;
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-layout-wrap-1 {
    --radius: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 137px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 27px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 56px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 332px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 693px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.4375rem;
  margin: 115px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 71px;
  margin-bottom: 60px;
  min-height: 256px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 0.75px));
  min-height: 256px;
  grid-auto-columns: calc(25% - 0.75px);
  grid-gap: 1px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-3 .u-icon-1 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 15px;
}

.u-section-3 .u-icon-2 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 15px;
}

.u-section-3 .u-icon-3 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 15px;
}

.u-section-3 .u-icon-4 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-6 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 15px;
}

.u-section-3 .u-icon-5 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-7 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 15px;
}

.u-section-3 .u-icon-6 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-8 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 15px;
}

.u-section-3 .u-icon-7 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-9 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 15px;
}

.u-section-3 .u-icon-8 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-10 {
  margin: 25px 15px 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 15px;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  top: 108px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  left: auto;
  top: 108px;
  right: 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 0.5px));
    grid-auto-columns: calc(50% - 0.5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/ordenador.jpeg');
  background-size: cover, cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 789px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 74px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 747px;
  margin: 30px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 431px;
  grid-auto-columns: 100%;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-line-1 {
  position: absolute;
  top: 257px;
  left: auto;
  height: 64px;
  transform-origin: center bottom;
  border-style: dashed;
  right: 439px;
}

.u-section-4 .u-line-2 {
  position: absolute;
  top: 235px;
  left: 71px;
  height: 85px;
  transform-origin: center top;
  border-style: dashed;
}

.u-section-4 .u-line-3 {
  position: absolute;
  top: 320px;
  left: 71px;
  width: 630px;
  transform-origin: left center;
}

.u-section-4 .u-line-4 {
  position: absolute;
  top: 320px;
  left: auto;
  width: 210px;
  transform-origin: left center;
  right: 219px;
}

.u-section-4 .u-line-5 {
  position: absolute;
  top: 67px;
  left: auto;
  height: 131px;
  transform-origin: center top;
  border-style: dashed;
  right: 392px;
}

.u-section-4 .u-line-6 {
  position: absolute;
  top: 256px;
  left: auto;
  height: 64px;
  transform-origin: center bottom;
  border-style: dashed;
  right: 426px;
}

.u-section-4 .u-line-7 {
  position: absolute;
  top: 257px;
  left: auto;
  height: 64px;
  transform-origin: center bottom;
  border-style: dashed;
  right: 215px;
}

.u-section-4 .u-line-8 {
  position: absolute;
  top: 154px;
  left: 552px;
  height: 45px;
  transform-origin: center bottom;
  border-style: solid;
}

.u-section-4 .u-line-9 {
  position: absolute;
  top: 67px;
  left: 553px;
  height: 38px;
  transform-origin: center top;
  border-style: dashed;
}

.u-section-4 .u-line-10 {
  position: absolute;
  top: 66px;
  left: auto;
  width: 195px;
  transform-origin: left center;
  right: 392px;
}

.u-section-4 .u-line-11 {
  position: absolute;
  top: 157px;
  left: auto;
  height: 42px;
  transform-origin: center top;
  border-style: dashed;
  right: 379px;
  transform: rotate(360deg);
}

.u-section-4 .u-line-12 {
  position: absolute;
  top: 153px;
  left: auto;
  width: 336px;
  transform-origin: left center;
  right: 46px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 22px 345px 0 534px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 41px 149px 0 862px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: -42px 522px 0 489px;
}

.u-section-4 .u-line-13 {
  width: 1118px;
  transform-origin: left center;
  margin: 71px auto 0 6px;
}

.u-section-4 .u-shape-1 {
  width: 137px;
  height: 47px;
  margin: -26px auto 0 29px;
}

.u-section-4 .u-shape-2 {
  width: 137px;
  height: 47px;
  margin: -45px auto 0 186px;
}

.u-section-4 .u-shape-3 {
  width: 137px;
  height: 47px;
  margin: -49px auto 0 343px;
}

.u-section-4 .u-shape-4 {
  width: 137px;
  height: 47px;
  margin: -47px auto 0;
}

.u-section-4 .u-shape-5 {
  width: 137px;
  height: 47px;
  margin: -47px 344px 0 auto;
}

.u-section-4 .u-shape-6 {
  width: 137px;
  height: 47px;
  margin: -46px 187px 0 auto;
}

.u-section-4 .u-shape-7 {
  width: 137px;
  height: 47px;
  margin: -48px 29px 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: -36px 1023px 0 52px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: -29px 861px 0 214px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: -30px 705px 0 370px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: -29px 548px 0 527px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: -28px 390px 0 685px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  margin: -29px 230px 0 845px;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  margin: -29px 74px 0 1001px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  margin: 85px 196px 0 708px;
}

.u-section-4 .u-text-14 {
  font-weight: 700;
  margin: -62px 605px 0 252px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-3 {
    margin-right: 245px;
    margin-left: 434px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 49px;
    margin-left: 762px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 422px;
    margin-left: 389px;
  }

  .u-section-4 .u-line-13 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 875px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 761px;
    margin-left: 114px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 605px;
    margin-left: 270px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 448px;
    margin-left: 427px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 290px;
    margin-left: 585px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 130px;
    margin-left: 745px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    margin-left: 875px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 96px;
    margin-left: 608px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 505px;
    margin-left: 152px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 135px;
    margin-left: 324px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 591px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 312px;
    margin-left: 279px;
  }

  .u-section-4 .u-line-13 {
    width: 720px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 655px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 651px;
    margin-left: 4px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 495px;
    margin-left: 160px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 338px;
    margin-left: 317px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 180px;
    margin-left: 475px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 20px;
    margin-left: 635px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 655px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
    margin-left: 484px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 395px;
    margin-left: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.1111111111111112rem;
    width: 540px;
  }

  .u-section-4 .u-line-3 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 45px;
    margin-left: 234px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 411px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 222px;
    margin-left: 189px;
  }

  .u-section-4 .u-line-13 {
    width: 540px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 475px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 475px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 405px;
    margin-left: 70px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 248px;
    margin-left: 227px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 90px;
    margin-left: 385px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
    margin-left: 475px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 475px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 304px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 257px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-line-3 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 79px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 211px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 122px;
    margin-left: 89px;
  }

  .u-section-4 .u-line-13 {
    width: 340px;
  }

  .u-section-4 .u-shape-3 {
    margin-left: 203px;
  }

  .u-section-4 .u-shape-5 {
    margin-right: 203px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 275px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 275px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 275px;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 148px;
    margin-left: 127px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 275px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 275px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 275px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 104px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 57px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 788px;
}

.u-section-5 .u-group-1 {
  min-height: 565px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 101px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 352px;
  width: 1140px;
  grid-gap: 17px;
  margin: 97px auto -38px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 41px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  text-decoration: underline !important;
  margin: 64px calc(((100% - 1140px) / 2)  + 757px) 0 calc(((100% - 1140px) / 2)  + 158px);
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: -26px 331px 60px calc(((100% - 1140px) / 2)  + 827px);
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 725px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-gallery-1 {
    height: 271px;
    width: 880px;
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 657px);
    margin-left: calc(((100% - 940px) / 2) + 58px);
  }

  .u-section-5 .u-text-3 {
    margin-right: 273px;
    margin-left: calc(((100% - 940px) / 2) + 682px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1355px;
  }

  .u-section-5 .u-gallery-1 {
    height: 846px;
    width: 660px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 495px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-3 {
    margin-right: 209px;
    margin-left: calc(((100% - 720px) / 2) + 522px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1130px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-gallery-1 {
    height: 670px;
    width: 520px;
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 315px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-3 {
    margin-right: 157px;
    margin-left: calc(((100% - 540px) / 2) + 392px);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 879px;
  }

  .u-section-5 .u-gallery-1 {
    height: 419px;
    width: 320px;
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 115px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-3 {
    margin-right: 99px;
    margin-left: calc(((100% - 340px) / 2) + 247px);
  }
}.u-section-6 .u-sheet-1 {
  min-height: 597px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 91px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 82px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 182px;
  grid-gap: 10px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 20px 10px 0;
}

.u-section-6 .u-text-2 {
  margin: 0 137px 0 166px;
}

.u-section-6 .u-icon-1 {
  font-size: 1.8334em;
}

.u-section-6 .u-line-1 {
  transform-origin: left center;
  width: 258px;
  margin: 21px 33px 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 14px 19px 0 39px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 20px 10px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 137px 0 166px;
}

.u-section-6 .u-icon-2 {
  font-size: 1.8334em;
}

.u-section-6 .u-line-2 {
  width: 258px;
  transform-origin: left center;
  margin: 21px 33px 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 14px 19px 0 39px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 20px 10px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  margin: 0 137px 0 166px;
}

.u-section-6 .u-icon-3 {
  font-size: 1.8334em;
}

.u-section-6 .u-line-3 {
  width: 258px;
  transform-origin: left center;
  margin: 21px 33px 0 auto;
}

.u-section-6 .u-text-7 {
  margin: 14px 19px 0 39px;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -101px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 150px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 37px;
    margin-left: 137px;
  }

  .u-section-6 .u-line-1 {
    width: 202px;
    margin-right: 17px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 79px;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.25rem;
    margin-right: 37px;
    margin-left: 137px;
  }

  .u-section-6 .u-line-2 {
    width: 202px;
    margin-right: 17px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 79px;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.25rem;
    margin-right: 37px;
    margin-left: 137px;
  }

  .u-section-6 .u-line-3 {
    width: 202px;
    margin-right: 17px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 79px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -473px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 357px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-line-1 {
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-line-2 {
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-line-3 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-line-1 {
    width: 441px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-line-2 {
    width: 441px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-line-3 {
    width: 441px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-text-2 {
    margin-left: 85px;
  }

  .u-section-6 .u-line-1 {
    width: 320px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 85px;
  }

  .u-section-6 .u-line-2 {
    width: 320px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 85px;
  }

  .u-section-6 .u-line-3 {
    width: 320px;
  }
}