 .u-section-1 {
  background-image: none;
  min-height: 1009px;
}

.u-section-1 .u-image-1 {
  min-height: 653px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/hilos.jpg');
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-container-layout-1 {
  padding: 210px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -210px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 92px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 424px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 93px;
  width: 93px;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 421px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 93px;
  width: 93px;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 95px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 95px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 441px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 93px;
  width: 93px;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  margin: 20px 1px 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 436px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 93px;
  width: 93px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 99px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 918px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-1 .u-layout-cell-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 350px;
  }

  .u-section-1 .u-layout-cell-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 347px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-6 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 364px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 360px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 82px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1542px;
  }

  .u-section-1 .u-image-1 {
    background-position: 9.07% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 180px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -297px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1939px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 160px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 155px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 40px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 113px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 1px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 119px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 695px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 555px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  padding-left: 3px;
  line-height: 2;
  margin: 40px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: 30px auto 0 0;
  padding: 18px 36px 19px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 555px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 432px;
  height: 495px;
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  object-position: 50% 52.73%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-layout-wrap-1 {
    --radius: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 137px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 27px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 56px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 332px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 693px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.4375rem;
  margin: 115px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 0.75px));
  min-height: 256px;
  grid-auto-columns: calc(25% - 0.75px);
  grid-gap: 1px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-3 .u-icon-1 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 15px;
}

.u-section-3 .u-icon-2 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 15px;
}

.u-section-3 .u-icon-3 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 15px;
}

.u-section-3 .u-icon-4 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-6 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 15px;
}

.u-section-3 .u-icon-5 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-7 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 15px;
}

.u-section-3 .u-icon-6 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-8 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 15px;
}

.u-section-3 .u-icon-7 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-9 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 15px;
}

.u-section-3 .u-icon-8 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-10 {
  margin: 25px 15px 0;
}

.u-section-3 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 15px;
}

.u-section-3 .u-icon-9 {
  height: 76px;
  width: 76px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-3 .u-text-11 {
  margin: 25px 15px 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 15px;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  top: 108px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  left: auto;
  top: 108px;
  right: 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 0.5px));
    grid-auto-columns: calc(50% - 0.5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/photo-1536240690077-e2f548bc5405.jpeg');
}

.u-section-4 .u-sheet-1 {
  min-height: 782px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 189px auto 0;
}

.u-section-4 .u-group-1 {
  width: 800px;
  min-height: 250px;
  margin-top: -198px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  width: 747px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  width: 747px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  width: 747px;
  font-size: 1.125rem;
  margin: -286px auto 0;
}

.u-section-4 .u-text-5 {
  width: 747px;
  font-size: 1.125rem;
  margin: 30px auto 60px;
}

.u-section-4 .u-text-6 {
  width: 747px;
  font-size: 1.125rem;
  margin: 30px auto 60px;
}

.u-section-4 .u-text-7 {
  width: 747px;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 747px;
  margin: -114px auto 0;
}

.u-section-4 .u-accordion-1 {
  width: 449px;
  margin: -236px auto 60px 0;
}

.u-section-4 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-4 .u-accordion-item-2 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-4 .u-accordion-item-3 {
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-13 {
  margin: 0;
}

.u-section-4 .u-accordion-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-4 .u-text-14 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-16 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 78px auto 0;
}

.u-section-4 .u-text-17 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 747px;
  margin: 27px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 36px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 395px;
  grid-auto-columns: 100%;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-line-1 {
  position: absolute;
  top: 254px;
  left: 360px;
  border-style: dashed;
  transform-origin: center bottom;
  height: 71px;
}

.u-section-4 .u-line-2 {
  position: absolute;
  top: 235px;
  left: 71px;
  height: 85px;
  transform-origin: center top;
  border-style: dashed;
}

.u-section-4 .u-line-3 {
  position: absolute;
  top: 320px;
  left: 71px;
  width: 290px;
  transform-origin: left center;
}

.u-section-4 .u-line-4 {
  position: absolute;
  top: 320px;
  left: auto;
  width: 203px;
  transform-origin: left center;
  right: 399px;
}

.u-section-4 .u-line-5 {
  position: absolute;
  top: 70px;
  left: auto;
  border-style: dashed;
  height: 139px;
  transform-origin: center top;
  right: 567px;
}

.u-section-4 .u-line-6 {
  position: absolute;
  top: 256px;
  left: 538px;
  height: 64px;
  transform-origin: center bottom;
  border-style: dashed;
}

.u-section-4 .u-line-7 {
  position: absolute;
  top: 256px;
  left: auto;
  height: 64px;
  transform-origin: center bottom;
  border-style: dashed;
  right: 401px;
}

.u-section-4 .u-line-8 {
  position: absolute;
  top: 161px;
  left: 346px;
  border-style: solid;
  transform-origin: center top;
  height: 41px;
}

.u-section-4 .u-line-9 {
  position: absolute;
  top: 69px;
  left: 347px;
  border-style: dashed;
  height: 37px;
  transform-origin: center bottom;
}

.u-section-4 .u-line-10 {
  position: absolute;
  top: 66px;
  left: 347px;
  width: 223px;
  transform-origin: left center;
}

.u-section-4 .u-line-11 {
  position: absolute;
  top: 161px;
  left: auto;
  border-style: dashed;
  transform-origin: center top;
  height: 75px;
  right: 557px;
}

.u-section-4 .u-line-12 {
  position: absolute;
  top: 153px;
  left: auto;
  width: 283px;
  transform-origin: left center;
  right: 277px;
}

.u-section-4 .u-line-13 {
  position: absolute;
  top: 156px;
  left: auto;
  border-style: dashed;
  height: 50px;
  transform-origin: center top;
  right: 279px;
}

.u-section-4 .u-line-14 {
  position: absolute;
  top: 92px;
  left: auto;
  border-style: dashed;
  height: 110px;
  transform-origin: center bottom;
  right: 249px;
}

.u-section-4 .u-line-15 {
  width: 188px;
  position: absolute;
  top: 229px;
  left: 117px;
  transform-origin: right center;
  border-style: dashed;
}

.u-section-4 .u-text-18 {
  font-weight: 700;
  margin: 21px 532px 0 347px;
}

.u-section-4 .u-text-19 {
  font-weight: 700;
  margin: -26px 139px 0 780px;
}

.u-section-4 .u-text-20 {
  font-weight: 700;
  margin: 17px 376px 0 635px;
}

.u-section-4 .u-text-21 {
  font-weight: 700;
  margin: -35px 728px 0 283px;
}

.u-section-4 .u-line-16 {
  width: 679px;
  transform-origin: right center;
  margin: 71px 16px 0 auto;
}

.u-section-4 .u-shape-1 {
  width: 136px;
  height: 47px;
  margin: -26px auto 0 309px;
}

.u-section-4 .u-shape-2 {
  width: 137px;
  height: 47px;
  margin: -47px auto 0 470px;
}

.u-section-4 .u-shape-3 {
  width: 137px;
  height: 47px;
  margin: -46px 368px 0 auto;
}

.u-section-4 .u-shape-4 {
  width: 137px;
  height: 47px;
  margin: -48px 202px 0 auto;
}

.u-section-4 .u-text-22 {
  font-weight: 700;
  margin: -38px 759px 0 331px;
}

.u-section-4 .u-text-23 {
  font-weight: 700;
  margin: -28px 580px 0 495px;
}

.u-section-4 .u-text-24 {
  font-weight: 700;
  margin: -29px 415px 0 660px;
}

.u-section-4 .u-text-25 {
  font-weight: 700;
  margin: -28px 249px 0 826px;
}

.u-section-4 .u-shape-5 {
  width: 137px;
  height: 47px;
  margin: -38px 37px 0 auto;
}

.u-section-4 .u-text-26 {
  font-weight: 700;
  margin: -38px 77px 0 987px;
}

.u-section-4 .u-shape-6 {
  width: 87px;
  height: 47px;
  margin: -34px auto 0 29px;
}

.u-section-4 .u-text-27 {
  font-weight: 700;
  margin: -36px 1037px 0 42px;
}

.u-section-4 .u-text-28 {
  font-weight: 700;
  margin: 76px 376px 0 532px;
}

.u-section-4 .u-text-29 {
  font-weight: 700;
  margin: -55px 785px 0 72px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-size: cover, cover;
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-accordion-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-line-4 {
    margin-top: 20px;
  }

  .u-section-4 .u-line-7 {
    margin-top: 20px;
  }

  .u-section-4 .u-line-11 {
    transform: rotate(360deg);
  }

  .u-section-4 .u-text-18 {
    margin-right: 432px;
    margin-left: 247px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 39px;
    margin-left: 680px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 276px;
    margin-left: 535px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 628px;
    margin-left: 183px;
  }

  .u-section-4 .u-text-22 {
    margin-right: 659px;
    margin-left: 231px;
  }

  .u-section-4 .u-text-23 {
    margin-right: 480px;
    margin-left: 395px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 315px;
    margin-left: 560px;
  }

  .u-section-4 .u-text-25 {
    margin-right: 149px;
    margin-left: 726px;
  }

  .u-section-4 .u-text-26 {
    margin-right: 0;
    margin-left: 864px;
  }

  .u-section-4 .u-text-27 {
    margin-right: 879px;
    margin-left: 0;
  }

  .u-section-4 .u-text-28 {
    margin-right: 276px;
    margin-left: 432px;
  }

  .u-section-4 .u-text-29 {
    margin-right: 657px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
  }

  .u-section-4 .u-text-4 {
    width: 720px;
  }

  .u-section-4 .u-text-5 {
    width: 720px;
  }

  .u-section-4 .u-text-6 {
    width: 720px;
  }

  .u-section-4 .u-text-7 {
    width: 720px;
  }

  .u-section-4 .u-text-8 {
    width: 720px;
  }

  .u-section-4 .u-text-17 {
    width: 720px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 322px;
    margin-left: 137px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 0;
    margin-left: 499px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 166px;
    margin-left: 425px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 518px;
    margin-left: 73px;
  }

  .u-section-4 .u-text-22 {
    margin-right: 549px;
    margin-left: 121px;
  }

  .u-section-4 .u-text-23 {
    margin-right: 370px;
    margin-left: 285px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 205px;
    margin-left: 450px;
  }

  .u-section-4 .u-text-25 {
    margin-right: 39px;
    margin-left: 616px;
  }

  .u-section-4 .u-text-26 {
    margin-left: 644px;
  }

  .u-section-4 .u-text-27 {
    margin-right: 659px;
  }

  .u-section-4 .u-text-28 {
    margin-right: 166px;
    margin-left: 322px;
  }

  .u-section-4 .u-text-29 {
    margin-right: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.1111111111111112rem;
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-17 {
    font-size: 1.1111111111111112rem;
    width: 540px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 232px;
    margin-left: 47px;
  }

  .u-section-4 .u-text-19 {
    margin-left: 319px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 76px;
    margin-left: 335px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 411px;
    margin-left: 0;
  }

  .u-section-4 .u-line-16 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-2 {
    margin-left: 403px;
  }

  .u-section-4 .u-text-22 {
    margin-right: 459px;
    margin-left: 31px;
  }

  .u-section-4 .u-text-23 {
    margin-right: 280px;
    margin-left: 195px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 115px;
    margin-left: 360px;
  }

  .u-section-4 .u-text-25 {
    margin-right: 0;
    margin-left: 475px;
  }

  .u-section-4 .u-text-26 {
    margin-left: 464px;
  }

  .u-section-4 .u-text-27 {
    margin-right: 479px;
  }

  .u-section-4 .u-text-28 {
    margin-right: 76px;
    margin-left: 232px;
  }

  .u-section-4 .u-text-29 {
    margin-right: 257px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: 174px;
  }

  .u-section-4 .u-text-2 {
    font-weight: 700;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -78px;
    margin-right: 100px;
    margin-left: -100px;
  }

  .u-section-4 .u-text-3 {
    font-weight: 700;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -222px;
    margin-right: 124px;
    margin-left: -124px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin: 9px 0 0;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.875rem;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin: 24px 0 0;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.875rem;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: -302px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-accordion-1 {
    margin-top: 253px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-11 {
    font-weight: 700;
  }

  .u-section-4 .u-text-17 {
    width: 340px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 79px;
    margin-left: 0;
  }

  .u-section-4 .u-text-19 {
    margin-left: 119px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 0;
    margin-left: 211px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 211px;
  }

  .u-section-4 .u-line-16 {
    width: 340px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 204px;
  }

  .u-section-4 .u-shape-2 {
    margin-left: 203px;
  }

  .u-section-4 .u-shape-3 {
    margin-right: 203px;
  }

  .u-section-4 .u-text-22 {
    margin-right: 290px;
    margin-left: 0;
  }

  .u-section-4 .u-text-23 {
    margin-right: 180px;
    margin-left: 95px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 15px;
    margin-left: 260px;
  }

  .u-section-4 .u-text-25 {
    margin-left: 275px;
  }

  .u-section-4 .u-text-26 {
    margin-left: 264px;
  }

  .u-section-4 .u-text-27 {
    margin-right: 279px;
  }

  .u-section-4 .u-text-28 {
    margin-right: 0;
    margin-left: 108px;
  }

  .u-section-4 .u-text-29 {
    margin-right: 57px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 729px;
}

.u-section-5 .u-group-1 {
  min-height: 565px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 101px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 352px;
  width: 1140px;
  grid-gap: 17px;
  margin: 97px auto -38px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: -71px calc(((100% - 1140px) / 2)  + 136px) 0 calc(((100% - 1140px) / 2)  + 926px);
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  margin: -25px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  margin: -21px auto 60px calc(((100% - 1140px) / 2)  + 73px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-gallery-1 {
    height: 269px;
    width: 880px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 64px;
    margin-right: 273px;
    margin-left: calc(((100% - 940px) / 2)  + 682px);
  }

  .u-section-5 .u-btn-1 {
    margin-top: -32px;
    margin-left: calc(((100% - 940px) / 2)  + 268px);
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-gallery-1 {
    height: 630px;
    width: 660px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-text-2 {
    margin-right: 209px;
    margin-left: calc(((100% - 720px) / 2)  + 522px);
  }

  .u-section-5 .u-btn-1 {
    margin-top: -47px;
    margin-left: calc(((100% - 720px) / 2)  + 48px);
  }

  .u-section-5 .u-btn-2 {
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1521px;
    width: 520px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-text-2 {
    margin-right: 157px;
    margin-left: calc(((100% - 540px) / 2)  + 392px);
  }

  .u-section-5 .u-btn-1 {
    margin-top: -42px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1109px;
  }

  .u-section-5 .u-group-1 {
    min-height: 1261px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-gallery-1 {
    height: 949px;
    width: 320px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -70px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -359px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -351px;
    margin-left: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 597px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 91px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 82px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 182px;
  grid-gap: 10px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 20px 10px 0;
}

.u-section-6 .u-text-2 {
  margin: 0 137px 0 166px;
}

.u-section-6 .u-icon-1 {
  font-size: 1.8334em;
}

.u-section-6 .u-line-1 {
  transform-origin: left center;
  width: 258px;
  margin: 21px 33px 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 21px 0 0 41px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 20px 10px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 137px 0 166px;
}

.u-section-6 .u-icon-2 {
  font-size: 1.8334em;
}

.u-section-6 .u-line-2 {
  width: 258px;
  transform-origin: left center;
  margin: 21px 33px 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 21px 0 0 41px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 20px 10px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  margin: 0 137px 0 166px;
}

.u-section-6 .u-icon-3 {
  font-size: 1.8334em;
}

.u-section-6 .u-line-3 {
  width: 258px;
  transform-origin: left center;
  margin: 21px 33px 0 auto;
}

.u-section-6 .u-text-7 {
  margin: 21px 0 0 41px;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -101px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 150px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 37px;
    margin-left: 137px;
  }

  .u-section-6 .u-line-1 {
    width: 202px;
    margin-right: 17px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 79px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.25rem;
    margin-right: 37px;
    margin-left: 137px;
  }

  .u-section-6 .u-line-2 {
    width: 202px;
    margin-right: 17px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 79px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.25rem;
    margin-right: 37px;
    margin-left: 137px;
  }

  .u-section-6 .u-line-3 {
    width: 202px;
    margin-right: 17px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -473px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 357px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-line-1 {
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-line-2 {
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-line-3 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-line-1 {
    width: 441px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-line-2 {
    width: 441px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-line-3 {
    width: 441px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 219px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 75px;
    margin-bottom: 27px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 489px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 121px;
    margin-left: 150px;
  }

  .u-section-6 .u-line-1 {
    width: 320px;
    margin-top: 16px;
    margin-left: 10px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-right: 12px;
    margin-left: 41px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 121px;
    margin-left: 150px;
  }

  .u-section-6 .u-line-2 {
    width: 320px;
    margin-top: 16px;
    margin-left: 10px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-right: 12px;
    margin-left: 41px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-right: 121px;
    margin-left: 150px;
  }

  .u-section-6 .u-line-3 {
    width: 320px;
    margin-top: 16px;
    margin-left: 10px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 19px;
    margin-right: 12px;
    margin-left: 41px;
  }
}